@media (max-width: 1200px){
	.container{
		padding: 0 20px 0 20px;
	}	
	.top_wrap{
		margin-bottom: 10px;
	}
	.top_wrap{
		display: none;
	}
	.bottom_wrap{
		display: none;
	}
	.wrap_menu{
		float: right;
		display: inline-block;
		margin-top: 30px;
	}
	.logo_wrap{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.information{
		margin: 40px 0 15px 0;
	}
	.form_radio {
		justify-content: flex-start;		
	}
	.yes_no {
    	width: 426px;
    }
    .form_but {
    	margin-bottom: 100px;
    }
    .form_text textarea {
    	width: 1000px;
    }
}




@media screen and (max-width: 980px){
	.container{
		padding: 0 20px 0 20px;
	}	
	.top_wrap{
		margin-bottom: 10px;
	}
	.top_wrap{
		display: none;
	}
	.bottom_wrap{
		display: none;
	}
	.wrap_menu{
		float: right;
		display: inline-block;
		margin-top: 30px;
	}
	.forms input[type=text],
	.forms input[type=email],
	.forms input[type=phone],
	.forms textarea {
		width: 270px;
		padding: 15px 40px; 
	}
	.form_text textarea {
    	width: 770px;
    }
    .form_check{
    	font-size: 15px;
    }
}


@media screen and (max-width: 768px) {
	.container{
		padding: 0 20px 0 20px;
	}	
	.top_wrap{
		margin-bottom: 10px;
	}
	.top_wrap{
		display: none;
	}
	.bottom_wrap{
		display: none;
	}
	.logo_wrap img{
		width: 80%;
	}
	.wrap_menu{
		float: right;
		display: inline-block;
		margin-top: 23px;
	}
	.inner_wrap{
		padding: 0px;
	}
	.form_radio>div {
    	margin-right: 70px;
	}
	.form_radio {
		margin-bottom: 16px;
	}
	.yes_no{
		padding-top: 0px; 
	}
	.forms h4 {
		margin-bottom:  0px;
	}
	.form_check {
		margin-bottom: 35px;
	}
	.form_text textarea{
		width: 700px;
		padding: 10px 40px 50px 5px;
	}
	.top_foot {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-around;
	}
  	footer{
		padding-top: 100px;
		padding-bottom: 1px;
  	}
  	footer h3 {
		font-size: 14px;
		margin-bottom: -4px;
		text-align: center;
  	}
	footer ul{
		margin-bottom: 25px;
	}
  	footer li{
		margin-bottom: -15px;
		font-size: 12px;
		text-align: center ;
  	}
	.customer {
		font-size: 12px;
		padding-left: 0;
	}	
  	.bot_foot{
  		flex-direction: column-reverse;
		align-items: center;
		margin-top: 25px;
	}
	.bot_foot_image{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bot_foot_text{
		display: inline-block;
		text-align: center;
	}
}




@media screen and (max-width: 500px) {
	.container{
		padding: 0px 10px 0px 10px;
	}
	.top_foot {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-around;
	}
	.form_text textarea{
		width: 450px;
	}
	.form_radio>div {
		margin-right: 0px;
	}
	.form_radio {
		margin-bottom: 10px;
	}
	footer{
		padding-top: 50px;
  	}
	.bot_foot_image{
		width: 100%;
	}
	.form_but button {
    padding: 15px 55px;
	}
	.form_but {
		margin-bottom: 50px;
}
@media screen and (max-width: 400px) {
	.yes_no {
		width: 330px;
	}
	.form_text textarea{
		width: 364px;
	}	
	.bot_foot_image{
		width:22px;
	}
}


